body {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

header {
  background-image: url("https://images.unsplash.com/photo-1595520519880-a86c48ea536c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  height: 100vh;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;
  overflow: hidden;
}

/* header .efek {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
} */

header h1 {
  font-size: 80px;
}
nav {
  position: relative;
  z-index: 2;
}

nav ul li:hover {
  background-color: gray;
}

.image-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

#about {
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1604272150214-fb31224a31cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100vh;
  top: 100%;
  left: 0;
  right: 0;
}

.image-overlay-about {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 1));
}

#about img:hover {
  transform: scale(1.5);
}

#about h2 {
  font-size: 3em;
}

#toefl {
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1437413646517-e98caade5a58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  top: 200%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.image-overlay-toefl {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

#homework {
  position: absolute;
  top: 300%;
  left: 0;
  right: 0;
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.overlay-homework {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}
